body {
    font-family: 'Oxygen', sans-serif;
    background-color: #FFFFF0;
}

div {
	margin: 20px;
}

table {
    border-collapse:collapse;
    width: 400px;
    background-color: #FFFFFF;
}

table, th, td {
    border: 1px solid black;
    font-size: 14;
}

th, td {
    padding: 10px;
}
