body {
    font-family: 'Raleway', sans-serif;
    background-color: #FFFFF0;
}

div {
	margin: 20px;
}

table {
    border-collapse:collapse;
    width: 400px;
    background-color: #FFFFFF;
}

table, th, td {
    font-size: 20px;
    border: 1px solid black;
}

th, td {
    padding: 10px;
}

.content {
	display: table-row;
}

.clock {
	background: transparent url('clock_face.png') top left no-repeat;
	display: table-cell;
	vertical-align: top;
}

.time {
	display: table-cell;
	vertical-align: top;
	padding-left: 15px;
}
